@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fddcc8;
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 70px; /* Ajuste para que o conteúdo não fique sobre a barra */
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Reduzido o padding para diminuir a altura da barra */
    background-color: rgba(243, 179, 145, 0.8); /* Transparência inicial */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-out, opacity 0.3s ease-out; /* Animação para transições */
    backdrop-filter: blur(8px); /* Desfoque para maior visibilidade */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar a barra */
}

.logo {
    font-size: 36px; /* Tamanho ajustado da logo */
    color: #662b04;
    font-family: 'Satisfy', cursive; /* Fonte personalizada */
}
/* Aplica a fonte Satisfy apenas ao texto "Conic" */
.conic {
    font-family: 'Satisfy', cursive;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px; /* Tamanho do texto ajustado */
    color: #662b04;
    margin-left: 15px; /* Menor espaçamento entre os links */
}

.nav-links a:hover {
    text-decoration: underline;
}

nav {
    color: black;
    padding: 10px;
    width: 100%;
    text-align: right;
}

nav a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #575757;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produto {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
}

img {
    width: 200px;
    height: auto;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: #fde5cc;
    border-top: 5px solid #dcb18e;
}

.infos div {
    padding: 10px;
}

.infos h3 {
    color: #d97a40;
    margin-bottom: 10px;
}

.infos p,
.footer li {
    margin: 5px 0;
}

.infos ul {
    list-style-type: none;
    padding: 0;
}

.infos a {
    color: #d97a40;
    text-decoration: none;
    font-weight: bold;
}

.infos a:hover {
    text-decoration: underline;
}

.infos .contato {
    font-size: 1.2em;
    color: #41b24a;
}

.infos .rede-social img {
    width: 24px;
    margin-right: 10px;
}

.infos .atencao {
    font-size: 0.9em;
    color: #cc3300;
}

.rede-social a {
    color: black;
}

.produto .preco {
    background-color: #f4a460;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
}
