/* Importa a fonte Satisfy */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
	background-color: #fddcc8; /* Cor de fundo definida */
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: black;
}

#cta .title span {
    color: #50220f;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons {
    display: flex;
    gap: 24px;
}

#cta_buttons a {
    text-decoration: none;
    color: black;
}

#phone_button {
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: white;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#phone_button button {
    box-shadow: none;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

#banner img {
    height: 100%;
    height: 500px;
    width: fit-content;
    border-radius: 150px;
    padding-top: 50px;
    padding-right: 5px;
}

.shape {
    background-color: #50220f;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Aplica a fonte Satisfy ao nav_logo */
#nav_logo {
    font-family: 'Satisfy', cursive;
    color: #662b04;
    font-size: 36px;
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}
